<section class="top-hero">
        <div class="overly"></div>
        <div class="top-content">
            <h1>Pages</h1>
            <div class="divider"></div>
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>/</li>
                <li>
                    <a routerLink="/pages">Pages</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="schedule-section" style="margin-top: 3%;">
        <div class="schedule">
            <div class="schedule-content">
                <h1>SCHEDULE</h1>
                <h3>Topic Discussion</h3>
                <p>Accusantium provident suscipit dicta magni dolor<br> deserunt nam obcaecati non veritatis optio.</p>
            </div>
            <div class="inner-div">
                <nav class="tablist">
                    <input type="radio" name="tab" id="tab1" checked>
                    <label for="tab1" class="tab tab1">
                        <h2>Day 1</h2>
                        <p>13 Nov ,2019 [09.00am - 04.00pm]</p>
                    </label>

                    <input type="radio" name="tab" id="tab2">
                    <label for="tab2" class="tab tab2">
                        <h2>Day 2</h2>
                        <p>14 Nov ,2019 [09.00am - 04.00pm]</p>
                    </label>

                    <input type="radio" name="tab" id="tab3">
                    <label for="tab3" class="tab tab3">
                        <h2>Day 3</h2>
                        <p>15 Nov ,2019 [09.00am - 04.00pm]</p>
                    </label>
                </nav>
            </div>
            <div class="schedule-label">
                <div class="inner-div">
                    <span>9.00am</span>
                    <div class="label-content">
                        <h3>Marketing Matters in design area</h3>
                        <p><strong>By Risabh moinul</strong></p>
                        <p class="para">CEo of themefisher</p>
                    </div>
                    <img src="assets/images/big-data.png" alt="">
                </div>
            </div>
            <div class="schedule-label">
                <div class="inner-div">
                    <span>12.20pm</span>
                    <div class="label-content">
                        <h3>Introduction of material Design</h3>
                        <p><strong>By Risabh moinul</strong></p>
                        <p class="para">CEo of themefisher</p>
                    </div>
                    <img src="assets/images/wordpress.png" alt="">
                </div>
            </div>
            <div class="schedule-label">
                <div class="inner-div">
                    <span>2.00pm</span>
                    <div class="label-content">
                        <h3>Launch Break</h3>
                        <p class="para">Doloribus veritatis, placeat, laborum amet voluptates cupiditate sapiente, reiciendis nemo <br>
                                        recusandae quo mollitial.
                        </p>
                    </div>
                    <img src="assets/images/lunch.jpg" alt="">
                </div>
            </div>
            <div class="schedule-label">
                <div class="inner-div">
                    <span>02.40pm</span>
                    <div class="label-content">
                        <h3>Cultures of Creativity</h3>
                        <p><strong>By Risabh moinul</strong></p>
                        <p class="para">CEo of themefisher</p>
                    </div>
                    <img src="assets/images/creativity.jpg" alt="">
                </div>
            </div>

        </div>
    </section>

    <section class="sponsors">
        <div class="full-div">
            <div class="sponsors-content">
                <h4>GOLD SPONSORS</h4>
                <div class="sponsor-imgs">
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-1.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-2.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-3.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-4.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-5.png" alt="" />
                    </div>
                </div>

                <h4>PLATINUM SPONSORS</h4>
                <div class="sponsor-imgs">
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-6.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-7.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-8.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-9.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-1.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-2.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-3.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-4.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-5.png" alt="" />
                    </div>
                </div>
                <h3>Want to be a sponsor ?</h3>
                <a href="#" class="banner-btn btn-1">APPLY NOW</a>
            </div>
        </div>
    </section>
