    <header class="header">
        <div class="header-container">
                <img src="assets/images/logo.png" alt="Logo">
        </div>
        <div class="navbar">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="hamburger">
                 <span></span>
                 <span></span>
                <span></span>
            </label>
            <nav class="navmenu">
                <ul>
                    <li><a routerLink="/home" routerLinkActive="active" class="active">HOME</a></li>
                    <li><a routerLink="/speakers" routerLinkActive="active">SPEAKERS</a></li>
                    <li><a routerLink="/pages" routerLinkActive="active">PAGES.</a></li>
                    <li><a routerLink="/blog" routerLinkActive="active">BLOG.</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
                </ul>
                <button class="btn-get-ticket">GET TICKET</button>
            </nav>
        </div>
    </header>
