    <footer>
        <div class="footer">
            <h2>Vixcon.</h2>
            <p>We are a creative-led experiential Event Production Agency that helps <br> brands connect, engage and evolve.</p>
            <form action="">
                <input type="text" placeholder="Put your email address">
                <a href="#" class="btn-secondary">SUBSCRIBE NOW</a>
            </form>
            <p>We will not spam at your inbox .Don't panic</p>
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fas fa-rss"></i></a></li>
            </ul>
            <hr>
            <small>Copyright Reserved to Amit Mishra 2025</small>
        </div>
    </footer>
