    <footer>
        <div class="footer">
            <h2>Vixcon.</h2>
            <p>We are a creative-led experiential Event Production Agency that helps <br> brands connect, engage and evolve.</p>
            <form action="">
                <input type="text" placeholder="Put your email address">
                <a href="#" class="btn-secondary">SUBSCRIBE NOW</a>
            </form>
            <p>We will not spam at your inbox .Don't panic</p>
            <ul>
                <li><a href="https://www.facebook.com/share/16Dpi7MUeZ/"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/_amit_.00?igsh=NWpwNjIzdGIyM25y"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/amit-mishra-489062295?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/amitasmishra152211"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fas fa-rss"></i></a></li>
            </ul>
            <hr>
            <small>Copyright Reserved to Amit Mishra 2025</small>
        </div>
    </footer>
