<section class="top-hero">
        <div class="overly"></div>
        <div class="top-content">
            <h1>Speakers</h1>
            <div class="divider"></div>
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>/</li>
                <li>
                    <a routerLink="/speakers">Speaker</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="speakers">
        <div class="speaker-container">
            <div class="speaker-content">
                <h1>SPEAKERS</h1>
                <h3>Who's speaking</h3>
                <p>Accusantium provident suscipit dicta magni dolor<br> deserunt nam obcaecati non veritatis optio.</p>
            </div>
        </div>

       <div class="block-rows" style="margin-top: 0%; margin-bottom: 5%;" >
        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-1.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Marta Kemnitz</h4>
            <p>UI Designer</p>
        </div>

        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-2.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Martin Gptil</h4>
            <p>UI Designer</p>
        </div>

        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-3.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Kemnitz Wagon</h4>
            <p>UI Designer</p>
        </div>

        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-4.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>MJohn Doe</h4>
            <p>UI Designer</p>
        </div>

        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-5.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Marta Kemnitz</h4>
            <p>UI Designer</p>
        </div>

        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-6.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Mehedi Miraz</h4>
            <p>UI Designer</p>
        </div>
    </div>

    <div class="next-container">
        <div class="speaker-container">
            <div class="speaker-content">
                <h1>SPEAKERS</h1>
                <h3>Who's speaking</h3>
                <p>Accusantium provident suscipit dicta magni dolor<br> deserunt nam obcaecati non veritatis optio.</p>
            </div>
        </div>

        <div class="circle-rows">

            <div class="circles">
                <img src="assets/images/s-1.jpg" alt="Person">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <h4>Marta Kemnitz</h4>
                <p>UI Designer</p>
            </div>

            <div class="circles">
                <img src="assets/images/s-2.jpg" alt="Person">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <h4>Martin Gptil</h4>
                <p>UI Designer</p>
            </div>

            <div class="circles">
                <img src="assets/images/s-3.jpg" alt="Person">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <h4>Kemnitz Wagon</h4>
                <p>UI Designer</p>
            </div>

            <div class="circles">
                <img src="assets/images/s-4.jpg" alt="Person">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <h4>MJohn Doe</h4>
                <p>UI Designer</p>
            </div>

            <div class="circles">
                <img src="assets/images/s-5.jpg" alt="Person">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <h4>Marta Kemnitz</h4>
                <p>UI Designer</p>
            </div>

            <div class="circles">
                <img src="assets/images/s-6.jpg" alt="Person">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <h4>Mehedi Miraz</h4>
                <p>UI Designer</p>
            </div>

        </div>
    </div>


    </section>
