<section class="top-hero">
        <div class="overly"></div>
        <div class="top-content">
            <h1>Contact</h1>
            <div class="divider"></div>
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>/</li>
                <li>
                    <a routerLink="/contact">Contact</a>                </li>
            </ul>
        </div>
    </section>

    <section class="contact">        <div class="embeded-map">
            <div class="map-info-box">
                <h3>VENUE LOCATION</h3>
                <p><strong style="color: #e91e63; font-size: 16px;">18 - 21 December, 2019</strong></p>
                <p>85 Golden Street, Darlinghurst<br>ERP 2019, U5ited States</p>
                <p class="para"><strong>MESSAGE US</strong><br>info@yourdomain.com</p>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fas fa-rss"></i></a>
                </div>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15067.563142244362!2d72.85272344252971!3d19.24359097082079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b0ef60c5c32b%3A0xb5ff760796a64246!2sHari%20Om%20Pan%20Bhandar!5e0!3m2!1sen!2sin!4v1743957655805!5m2!1sen!2sin"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="contact-form">
            <h2>Contact for any support!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, natus.</p>
            <form class="form-grid">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
                <input type="text" placeholder="Subject">
                <input type="text" placeholder="Phone">
                <textarea placeholder="Message"></textarea>
                <button type="submit">SEND MESSAGE</button>
            </form>
        </div>
    </section>
