<section class="top-hero">
    <div class="overly"></div>
    <div class="top-content">
      <h1>Blog</h1>
      <div class="divider"></div>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>/</li>
        <li>
          <a routerLink="/blog">Blog</a>        </li>
      </ul>
    </div>
  </section>

  <section class="blogs">
    <div class="blogs-container">      <div class="blog">
        <img src="assets/images/blog-2.jpg" alt="">
        <div class="blog-content">
          <p class="author"> <i class="fas fa-user"></i>By Techydevs</p>
          <h3>5 Creative Ideas for Conference Sessions</h3>
          <p class="desc">There are many variations of passages of but majority have in some by inject.</p>
          <a href="#" class="read-more">Read More <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="blog">
        <img src="assets/images/blog-3.jpg" alt="">
        <div class="blog-content">
          <p class="author"> <i class="fas fa-user"></i>By Techydevs</p>
          <h3>5 Creative Ideas for Conference Sessions</h3>
          <p class="desc">There are many variations of passages of but majority have in some by inject.</p>
          <a href="#" class="read-more">Read More <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="blog">
        <img src="assets/images/blog-1.jpg" alt="">
        <div class="blog-content">
          <p class="author"> <i class="fas fa-user"></i>By Techydevs</p>
          <h3>5 Creative Ideas for Conference Sessions</h3>
          <p class="desc">There are many variations of passages of but majority have in some by inject.</p>
          <a href="#" class="read-more">Read More <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="blog">
        <img src="assets/images/blog-2.jpg" alt="">
        <div class="blog-content">
          <p class="author"><i class="fas fa-user"></i>By Techydevs</p>
          <h3>5 Creative Ideas for Conference Sessions</h3>
          <p class="desc">There are many variations of passages of but majority have in some by inject.</p>
          <a href="#" class="read-more">Read More<i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>


      <div class="blog-last">
        <div class="blog-content">

          <div class="search">
            <h5>Search</h5>
            <div class="line"></div>
            <form action="">
              <input type="text" placeholder="Search">
              <a href="#" class="btn-search">SEARCH</a>
            </form>
          </div>

          <div class="about">
            <h5>About</h5>
            <div class="line"></div>
            <p>Odit pariatur eveniet molestias minima,
              ullam obcaecati magnam amet voluptas
              molestiae possimus rerum enim tempore .
            </p>
          </div>

          <div class="social">
            <h5>Follow us</h5>
            <div class="line"></div>
            <div class="icons">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>

          <div class="archive">
            <h5>Archieve</h5>
            <div class="line"></div>
            <ul>
              <li><a href="#">January 2019</a></li>
              <li><a href="#">December 2018</a></li>
              <li><a href="#">November 2016</a></li>
            </ul>
          </div>

          <div class="categories">
            <h5>Categories</h5>
            <div class="line"></div>
            <ul>
              <li><a href="#">Event <span>(14)</span></a></li>
              <li><a href="#">Lifestyle <span>(2)</span></a></li>
              <li><a href="#">Music <span>(1)</span></a></li>
            </ul>
          </div>

          <div class="tags">
            <h5>Tags</h5>
            <div class="line"></div>
            <div class="tag-list">
              <a href="#">Culture</a>
              <a href="#">Design</a>
              <a href="#">Event</a>
              <a href="#">News</a>
              <a href="#">Music</a>
              <a href="#">Travel</a>
              <a href="#">Tech</a>
              <a href="#">Creative</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
