    <section class="hero">
        <div class="hero-container">
            <div class="row">
            <span>November 12, at 10.00am</span>
            <h1 class="display">The future <br>
                & Tech Expo
            </h1>
            <a href="#" class="btn">DISCOVER MORE</a>
            </div>
        </div>

        <div class="shadow-box">
            <div class="shadow-content1">
                <h1>Count the day<br><span>Until conference start</span></h1>
            </div>
            <div class="shadow-content2">
                <p>The countdown is finished!</p>
            </div>
            <div class="shadow-content2">

            </div>
        </div>

    </section>

    <section class="about">
        <div class="event">
            <div class="container1">
                <img src="assets/images/h1-gallery-img-7.jpg" alt="Event Image 1" class="main-image">
                <img src="assets/images/main-home-img-1.jpg" alt="Event Image 2" class="overlay-image">
            </div>
            <div class="container2">
                <h1>EVENT</h1>
                <h2>The New Era of <br>Tech Companies</h2>
                <p>
                    Lorem ipsum proin gravida nibh vel velit auctor aliquet.
                    Aeneansollicitudin, lorem quis bibendum auctonisi elit
                    consequat ipsum nec sagittis sem nibh id elit. Duis sed
                    odio sit amet nibh vulputate cursusa sit nibh vel velit.
                </p>
                <a href="#" class="btn">DISCOVER MORE</a>
            </div>
        </div>

    </section>

    <section>
        <div class="section1">
            <div class="content1">
                <span class="title">10% Sale offer for early birds</span>
                <h2>Meet top <span>digital masters</span> & influencers in a unique <span>3-days</span> experience.</h2>
                <a href="#" class="btn">GET TICKET</a>
            </div>
            <div class="content2">
                <img src="assets/images/rev-slider-09.png" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="section2">
            <div class="boxes boxes1">
                <i class="fas fa-microphone"></i>
                <h3>Valuable Insight</h3>
                <div class="line"></div>
                <p>Events Drinks and Dancing are hosting an After Party and YOU ARE INVITED!!</p>
            </div>
            <div class="boxes boxes2">
                <i class="fas fa-globe"></i>
                <h3>Valuable Insight</h3>
                <div class="line"></div>
                <p>Starting a mentoring program might be the closest you'll ever get to making a business decision that has exclusively positive impact.</p>
            </div>
            <div class="boxes boxes3">
                <i class="fas fa-share"></i>
                <h3>Valuable Insight</h3>
                <div class="line"></div>
                <p>Networking is the exchange of information and ideas among people with a common profession or special interest, usually in an informal social setting.</p>
            </div>
        </div>
    </section>

    <section class="schedule-section">
        <div class="schedule">
            <div class="schedule-content">
                <h1>SCHEDULE</h1>
                <h3>Topic Discussion</h3>
                <p>Accusantium provident suscipit dicta magni dolor<br> deserunt nam obcaecati non veritatis optio.</p>
            </div>
            <div class="inner-div">
                <nav class="tablist">
                    <input type="radio" name="tab" id="tab1" checked>
                    <label for="tab1" class="tab tab1">
                        <h2>Day 1</h2>
                        <p>13 Nov ,2019 [09.00am - 04.00pm]</p>
                    </label>

                    <input type="radio" name="tab" id="tab2">
                    <label for="tab2" class="tab tab2">
                        <h2>Day 2</h2>
                        <p>14 Nov ,2019 [09.00am - 04.00pm]</p>
                    </label>

                    <input type="radio" name="tab" id="tab3">
                    <label for="tab3" class="tab tab3">
                        <h2>Day 3</h2>
                        <p>15 Nov ,2019 [09.00am - 04.00pm]</p>
                    </label>
                </nav>
            </div>
            <div class="schedule-label">
                <div class="inner-div">
                    <span>9.00am</span>
                    <div class="label-content">
                        <h3>Marketing Matters in design area</h3>
                        <p><strong>By Amit Mishra</strong></p>
                        <p class="para">CEo of themefisher</p>
                    </div>
                    <img src="assets/images/big-data.png" alt="">
                </div>
            </div>
            <div class="schedule-label">
                <div class="inner-div">
                    <span>12.20pm</span>
                    <div class="label-content">
                        <h3>Introduction of material Design</h3>
                        <p><strong>By Amit Mishra</strong></p>
                        <p class="para">CEo of themefisher</p>
                    </div>
                    <img src="assets/images/wordpress.png" alt="">
                </div>
            </div>
            <div class="schedule-label">
                <div class="inner-div">
                    <span>2.00pm</span>
                    <div class="label-content">
                        <h3>Launch Break</h3>
                        <p class="para">Doloribus veritatis, placeat, laborum amet voluptates cupiditate sapiente, reiciendis nemo <br>
                                        recusandae quo mollitial.
                        </p>
                    </div>
                    <img src="assets/images/lunch.jpg" alt="">
                </div>
            </div>
            <div class="schedule-label">
                <div class="inner-div">
                    <span>02.40pm</span>
                    <div class="label-content">
                        <h3>Cultures of Creativity</h3>
                        <p><strong>By Amit Mishra</strong></p>
                        <p class="para">CEo of themefisher</p>
                    </div>
                    <img src="assets/images/creativity.jpg" alt="">
                </div>
            </div>

        </div>
    </section>

    <section class="price-section">
        <div class="price">
          <div class="price-content">
            <h1>PRICE</h1>
            <h3> Get your Ticket</h3>
            <p>Accusantium provident suscipit dicta magni dolor<br> deserunt nam obcaecati non veritatis optio.</p>
          </div>
          <div class="price-banners">
            <!-- First Card -->
            <div class="banner banner1">
                <div class="banner-img">
                    <i class="fas fa-lightbulb"></i>
                    <h2>70$</h2>
                </div>
                <h6 class="banner-title title1">Early</h6>
                <ul>
                    <li>Two Days Ticket</li>
                    <li>Coffee & Launch</li>
                    <li>Networking</li>
                    <li>Certificate</li>
                    <li>Gift Box</li>
                    <li>Email listing</li>
                </ul>
                <a href="#" class="banner-btn btn-1">GET NOW</a>
            </div>

            <!-- Second Card -->
            <div class="banner banner2">
                <div class="banner-img">
                    <i class="fas fa-quote-left"></i>
                    <h2>250$</h2>
                </div>
                <h6 class="banner-title title2">Team</h6>
                <ul>
                    <li>Two Days Ticket</li>
                    <li>Coffee & Launch</li>
                    <li>Networking</li>
                    <li>Certificate</li>
                    <li>Gift Box</li>
                    <li>Public ad listing</li>
                    <li>Email listing</li>
                </ul>
                <a href="#" class="banner-btn btn-2">GET NOW</a>
            </div>

            <!-- Third Card -->
            <div class="banner banner3">
                <div class="banner-img">
                    <i class="fas fa-user"></i>
                    <h2>300$</h2>
                </div>
                <h6 class="banner-title title3">Economic</h6>
                <ul>
                    <li>Three Days Ticket</li>
                    <li>Coffee & Launch</li>
                    <li>Networking</li>
                    <li>Certificate</li>
                    <li>Gift Box</li>
                    <li>Company Listing</li>
                    <li>Dinner Serve</li>
                    <li>Email listing</li>
                </ul>
                <a href="#" class="banner-btn btn-3">GET NOW</a>
            </div>
        </div>

        </div>
    </section>

    <section class="speakers">
        <div class="speaker-container">
            <div class="speaker-content">
                <h1>SPEAKERS</h1>
                <h3>Who's speaking</h3>
                <p>Accusantium provident suscipit dicta magni dolor<br> deserunt nam obcaecati non veritatis optio.</p>
            </div>
        </div>

       <div class="block-rows">
        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-1.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Marta Kemnitz</h4>
            <p>UI Designer</p>
        </div>

        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-2.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Martin Gptil</h4>
            <p>UI Designer</p>
        </div>

        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-3.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Amit Mishra</h4>
            <p>UI Designer</p>
        </div>

        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-4.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>MJohn Doe</h4>
            <p>UI Designer</p>
        </div>

        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-5.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Ankit Mishra</h4>
            <p>UI Designer</p>
        </div>

        <div class="blocks">
            <div class="overlay"></div>
            <img src="assets/images/s-6.jpg" alt="Person">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Aryan Dave</h4>
            <p>UI Designer</p>
        </div>
    </div>
    </section>

    <section class="sponsors">
        <div class="full-div">
            <div class="sponsors-container">

                    <h1>SPONSORS</h1>
                    <h3>Amazing Partners & Sponsors</h3>

            </div>
            <div class="sponsors-content">
                <h4>GOLD SPONSORS</h4>
                <div class="sponsor-imgs">
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-1.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-2.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-3.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-4.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-5.png" alt="" />
                    </div>
                </div>

                <h4>PLATINUM SPONSORS</h4>
                <div class="sponsor-imgs">
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-6.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-7.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-8.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-9.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-1.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-2.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-3.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-4.png" alt="" />
                    </div>
                    <div class="sponsor-logo">
                        <img src="assets/images/client-img-5.png" alt="" />
                    </div>
                </div>
                <h3>Want to be a sponsor ?</h3>
                <a href="#" class="banner-btn btn-1">APPLY NOW</a>
            </div>
        </div>
    </section>

    <section class="floating">
        <div class="floating-banner">
            <img src="assets/images/cta-bg.jpg" alt="">
            <div class="float-banner">
                <h4>VENUE LOCATION</h4>
                <p><span>18 – 21 December, 2019</span></p>
                <p>85 Golden Street, Darlinghurst<br>ERP 2019, United States</p>
                <p class="para"><i class="fas fa-map-marker-alt"></i> View Map location</p>
              </div>
        </div>
    </section>

    <section class="news">
        <div class="new-container">
            <div class="new-content">
                <h1>NEWS</h1>
                <h3>Latest News update</h3>
                <p>Accusantium provident suscipit dicta magni dolor<br> deserunt nam obcaecati non veritatis optio.</p>
            </div>
        </div>
        <div class="news-ad">
            <div class="ads">
                <img src="assets/images/blog-img-1.jpg" alt="">
                <div class="ads-content">
                    <a class="head">Why lead generation is key for business growth</a>
                    <p>Illum delectus quidem nobis, impedit soluta mollitia dignissimos error.</p>
                    <a>Read More</a>
                </div>
            </div>

            <div class="ads">
                <img src="assets/images/blog-img-2.jpg" alt="">
                <div class="ads-content">
                    <a class="head">How to visualizze your idea in design</a>
                    <p>Illum delectus quidem nobis, impedit soluta mollitia dignissimos error.</p>
                    <a>Read More</a>
                </div>
            </div>

            <div class="ads">
                <img src="assets/images/blog-img-3.jpg" alt="">
                <div class="ads-content">
                    <a class="head">Next venue in san farnscicos can join</a>
                    <p>Illum delectus quidem nobis, impedit soluta mollitia dignissimos error.</p>
                    <a>Read More</a>
                </div>
            </div>

        </div>

    </section>
